<div class="user_profile_container">
    <div class="card user_profile_card">
        <div>
            <%= image_tag @presenter.profile_picture, class: "user_profile_image" %>
        </div>

        <h1><%= @user.full_name %></h1>
        
        <div class="user_profile_info">
            <h4><%= @user.occupation %></h4>
            <h4><%= @user.company %></h4>
            <h4><%= @user.location %></h4>

            <h4>Projects: <%= @user.projects.count %></h4>
        </div>

        <% if @presenter.current_user? %>
            <div>
                <%= link_to "Edit profile", edit_user_registration_path, class: "basic_button" %>
            </div>
        <% end %>  
    </div>

    <div>
        <div class="navbar_profile_section">
            <button class="profile_section_button"> 
                Work
            </button> 
        </div>

        <div class="user_work_container">
        <% if @user.projects.any? %>
              <% @user.projects.each do |project| %>
                <%= link_to project do %>
                    <div class="preview_project_card">
                        <div class="project_cover_image">
                            <%= image_tag(project.cover_image) if project.cover_image.attached? %>
                        </div>
                        <%= project.title %>
                        <%= project.description %>
                    </div>
                    <% end %>
                <% end %>
        <% else %>
            <p><%= @user.full_name %> has not uploaded any work</p> 
        <% end %>

        
            <% if @presenter.current_user? %>
                <div class="preview_project_card">
                    <%= render "partials/new_project_card" %>
                </div>
            <% end %>  
        </div>
    </div>
    
</div>