<div class="card">
  <div class="form_container">
  <h1>Edit <%= resource_name.to_s.humanize %></h1>

  <%= form_for(resource, as: resource_name, url: edit_user_registration_path, html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div>
      <h2> Basic Information </h2>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>

      <div class="field">
        <div>
          <%= image_tag @presenter.profile_picture, class: "user_profile_image" %>
        </div>
        
        <%= f.file_field :profile_picture %>
      </div>

      <div class="flex_row">
        <div class="field">
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
        </div>

        <div class="field">
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </div>
      </div>

      <div class="field">
        <%= f.label :occupation %>
        <%= f.text_field :occupation %>
      </div>

      <div class="field">
        <%= f.label :company %>
        <%= f.text_field :company %>
      </div>

      <div class="flex_row">
        <div class="field">
          <%= f.label :country %>
          <%= f.text_field :country %>
        </div>

        <div class="field">
          <%= f.label :city %>
          <%= f.text_field :city %>
        </div>
      </div>

      <div class="field">
        <%= f.label :personal_web_site_url %>
        <%= f.text_field :personal_web_site_url %>
      </div>

      <div>
        <h3> Change password </h3>
        <div class="field">
          <%= f.label :new_password %> <i>(leave blank if you don't want to change it)</i>
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>
    </div>

    <div>
      <h2> About me </h2>

      <div class="field">
        <%= f.label :Title %>
        <%= f.text_field :about_me_title %>
      </div>

      <div class="field">
        <%= f.label :Description %>
        <%= f.text_field :about_me_description %>
      </div>
    </div>

    <div>
      <h2> Save changes </h2>
      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

    <br>
    <%= link_to "Back", :back %>
    <br>
  </div>
</div>