 <div class="card project_comments_card">
    <div class="project_comments">
      <%= link_to profile_path(comment.user) do %>
        <%= image_tag comment.user.profile_img, class: "user_profile_image smaller" %>
      <% end %>
      <div class="project_comments_info">
        <div class="flex_row">
          <%= link_to profile_path(comment.user) do %>
            <h4> <%= comment.user.full_name %></h4> 
          <% end %>
          <small> • <%= comment.created_at.to_date %> </small>
          <div class="last_child">
          <% if user_signed_in? %>
            <% if comment.user.id == current_user.id %>
              <%= link_to project_comment_path(@project, comment), method: :delete, data: { confirm: "Are you sure about deleting the comment?" }, class: "button_close" do %>
                <i class="fas fa-times"></i>
              <% end %>
            <% end %>
          <% end %>
          </div>
        </div>
        <p> <%= comment.content %> </p>
      </div>
    </div>
</div>