<div>
    <div class="home_header">
        <h1>The best of Behanc.io</h1>
        <h3>Projects presented by our specialists</h3>
    </div>
    <div class="display_cards_container">
      <% @project.sort.each do |project| %>
        <div class="preview_project_card">
          <%= link_to project do %>
            <div class="project_cover_image">
              <%= image_tag(project.cover_image) if project.cover_image.attached? %>
            </div>
          <% end %>
            
          <div class="prewiew_project_data">
            <div>
              <%= link_to project_path(project) do %>
                <h4><%= project.title %></h4>
              <% end %>
              <%= link_to profile_path(project.user) do %>
                <%= project.user.full_name %>
              <% end %>
            </div>
            <div>
              <i class="fas fa-thumbs-up"></i> 0
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>