<div class="card project_show_card">
  <div class="project_content_container">
    <h1> <%= @project.title %></h1>
      <p><%= @project.description %></p>
      <p><%= @project.content %></p>
  </div>
</div>

<div class="card project_bottom_card" id="project_footer">
  <div class="project_footer">
    <% if user_signed_in? %>
      <% pre_like = @project.likes.find { |like| like.user_id == current_user.id } %>
      <% if pre_like %>
        <%= link_to project_like_path(@project, pre_like), class: "basic_button like_button liked_button", method: :delete do %>
          <i class="fas fa-thumbs-up fa-2x"></i>
        <% end %>
      <% else %>
        <%= link_to project_likes_path(@project), class: "basic_button like_button", method: :post do %>
          <i class="fas fa-thumbs-up fa-2x"></i>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: "basic_button like_button" do %>
        <i class="fas fa-thumbs-up fa-2x"></i>
      <% end %>
    <% end %>

    <h2> <%= @project.title %></h2>
      <div class="flex_row">
        <div>
          <i class="fas fa-thumbs-up"></i> <%= @project.likes.count %>
        </div>
        <div>
          <i class="fas fa-eye"></i> 0
        </div>
        <div>
          <i class="fas fa-comment-alt"></i> <%= @project.comments.count %>
        </div>
      </div>
      <p> Published: <%= @project.created_at.to_date %></p>
  </div>
     
  <% if user_signed_in? %>
    <% if @project.user_id == current_user.id %>
      <div>
        <%= link_to "Update project", edit_project_path(@project), class: "basic_button" %>
        <%= link_to "Destroy project", project_path(@project), method: :delete, data: { confirm: "Are you sure?" }, class: "basic_button danger" %>
      </div>
    <% end %>
  <% end %>
  
  <div class="project_comments_container">
    <div class="card project_comments_card">
      <div class="full_width">
        <%= render @project.comments %>
        <% unless user_signed_in? %>
          <div class="card card_without_shadow">
            <h1>Login to join the conversation</h1>
            <%= link_to "Sign up with email", create_registrations_path, class: "basic_button" %>
          </div>
        <% else %>
          <%= render partial: "comments/form" %>
        <% end %>
      </div>
    </div>

    <div>    
      <div class="card project_owner_card">
        <div>
          Owner
        </div>
        <div class="flex_row" >
          <div>
            <%= link_to profile_path(@project.user) do %>
              <%= image_tag @project.user.profile_picture, class: "user_profile_image smaller" %>
            <% end %>
          </div>
          <div>
            <%= link_to profile_path(@project.user) do %>
              <h3><%= @project.user.full_name %></h3>
            <% end %>
            <p><i class="fas fa-map-marker-alt"></i> <%= @project.user.location %></p>
          </div>
        </div>
      </div>

      <div class="card project_statistics_card">
        <h3><%= @project.title %></h3>
        <div class="flex_row">
          <div>
            <i class="fas fa-thumbs-up"></i> <%= @project.likes.count %>
          </div>
          <div>
            <i class="fas fa-eye"></i> 0
          </div>
          <div>
            <i class="fas fa-comment-alt"></i> <%= @project.comments.count %>
          </div>
        </div>
        <p><%= @project.category %></p>
        <p> Published: <%= @project.created_at.to_date %></p>
      </div>
    </div>
  </div>
</div>