<div class="card project_show_card">
  <div class="project_content_container">
    <h1> <%= @project.title %></h1>
      <p><%= @project.description %></p>
      <p><%= @project.content %></p>
  </div>
</div>

<div class="card project_bottom_card">
  <div class="project_footer">
    <h2> <%= @project.title %></h2>
      <div class="project_statistics">
        <div class="project_statistics item">
          <i class="fas fa-thumbs-up"></i> 0
        </div>
        <div class="project_statistics item">
          <i class="fas fa-eye"></i> 0
        </div>
        <div class="project_statistics item">
          <i class="fas fa-comment-alt"></i> 0
        </div>
      </div>
      <p> Published: <%= @project.created_at.to_date %></p>
  </div>
     
  <% if user_signed_in? %>
    <% if @project.user_id == current_user.id %>
      <div>
        <%= link_to "Update project", edit_project_path(@project.id), class: "basic_button" %>
        <%= link_to "Destroy project", project_path(@project.id), method: :delete, data: { confirm: "Are you sure?" }, class: "basic_button danger" %>
      </div>
    <% end %>
  <% end %>

  <div class="card project_comments_card">
    <div class="project_comments">
      <%= image_tag @project.user.profile_picture, class: "user_profile_image smaller" %>
      <textarea class="project_comments text_area" placeholder = "What are your thoughts on this project?"></textarea>
    </div>
    <div>
      <button class="basic_button">Post a Comment</button>
    </div>
  </div>

  <div class="card project_owner_card">
    <div>
      Owner
    </div>
    <div class="project_owner_info" >
      <div>
        <%= image_tag @project.user.profile_picture, class: "user_profile_image smaller" %>
      </div>
      <div>
        <h3><%= @project.user.full_name %></h3>
        <p><i class="fas fa-map-marker-alt"></i> <%= @project.user.location %></p>
      </div>
    </div>
  </div>

  <div class="card project_statistics_card">
    <h3><%= @project.title %></h3>
    <div class="project_statistics">
      <div class="project_statistics item">
        <i class="fas fa-thumbs-up"></i> 0
      </div>
      <div class="project_statistics item">
        <i class="fas fa-eye"></i> 0
      </div>
      <div class="project_statistics item">
        <i class="fas fa-comment-alt"></i> 0
      </div>
    </div>
    <p><%= @project.category %></p>
    <p> Published: <%= @project.created_at.to_date %></p>
  </div>
</div>